@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
.logo img {
  width: 50px;
  height: 50px;
  margin: 20px;
}
* {
  margin: 0;
}
.navbar {
  background-color: navy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}
/* body {
  background: -webkit-linear-gradient(top, black, white);
  background: -webkit-linear-gradient(to bottom, black, white);
} */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 15px;
}
.navbar ul li a {
  color: white;
  border-radius: 5px;
}

.beranda {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(galeri/beranda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* min-height: 100vh; */
  background-position: center;
}

.konten {
}

.deskripsi {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.deskripsi p {
  margin-top: 15px;
  text-align: justify;
}
.fotokegiatan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  /* margin: 10px; */
}
.fotokegiatan img {
  width: 400px;
  height: 400px;
  padding: 7px;
  border-radius: 30px;
}

.deskripsi-program {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 10px;
  padding-left: 21px;
  padding-right: 10px;
}

.fotoprogram {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  padding: 10px;
}

.fotoprogram img {
  width: 350px;
  height: 300px;
  object-fit: fill;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  align-items: baseline;
}

footer {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  /* margin-top: 20px; */
}

.footerDeskripsi {
  font-family: "Inter", "sans-serif";
}
