@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

.logo img {
  width: 50px;
  height: 50px;
  margin: 20px;
}
* {
  margin: 0;
}
.navbar {
  background-color: navy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}
/* body {
  background: -webkit-linear-gradient(top, black, white);
  background: -webkit-linear-gradient(to bottom, black, white);
} */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 15px;
}
.navbar ul li a {
  color: white;
  border-radius: 5px;
}

.beranda {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(galeri/beranda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  background-position: center;
}

.konten {
  display: grid;
  grid-template-areas: 1fr 1fr;
  align-items: stretch;
}

.deskripsi {
  font-family: "Bodoni Moda", serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.deskripsi p {
  margin-top: 15px;
  text-align: justify;
}
.fotokegiatan {
  margin: 10px;
}
.fotokegiatan img {
  width: 500px;
  height: 500px;
}
