.logo img {
  width: 50px;
  height: 50px;
  margin: 20px;
}
* {
  margin: 0;
}
.navbar {
  background-color: navy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}
/* body {
  background: -webkit-linear-gradient(top, black, white);
  background: -webkit-linear-gradient(to bottom, black, white);
} */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 15px;
}
.navbar ul li a {
  color: white;
  border-radius: 5px;
}
